* {
	font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	background: rgb(55, 60, 68);
	margin: 0;
	padding: 0;
}

h2 {
	float: left;
	color: black;
	margin: 0;
	font-size: 4vw;
}

body {
	max-width: 1200px;
	margin: auto;
}

nav {
	padding-top: 29%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	pointer-events: none;
}

h1 {
	margin-top: 0;
}

a {
	color: lightgray;
}

button {
	font-weight: bold;
	background: none;
	color: rgb(55, 60, 68);
	border-color: rgb(55, 60, 68);
	border-style: solid;
	height: 100%;
	padding: 2% 0;
	width: 30%;
	font-size: 1.5vw;
	pointer-events:auto;
	position: relative;
	float: left;
	margin-left: 9.5%;
	transition: 0.2s;
}

button:focus {
	outline: 0;
}

button:hover {
	background: rgb(55, 60, 68);
	color: lightgray;
}

#board {
	width: 80%;
	padding-top: 52.2%;
	position: relative;
	background-image: url("images/board.png");
    background-repeat: no-repeat;
    background-size: 100%;
	margin: auto;
	margin-top: 5%;
}

#innerBoard {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#topLeft {
	padding: 8% 5% 13% 30%;
}


#topRight {
	padding: 8% 31% 13% 4%;
}

#botLeft {
	padding: 8% 4% 9% 20%;
}

#botRight {
	padding: 8% 21% 9% 3%;
}

#bar {
	float: left;
	padding-top: 20%;
	width: 6%;
	text-align: center;
}

#info {
	width: 80%;
	height: 15%;
	margin: auto;
}

#scores {
	width: 80%;
	margin: auto;
	padding-top: 4%;
}

#player1 {
	float: left;
}

#player2 {
	float: right;
}

#start {
	margin-left: 30%;
}

#diceArea {
	position: absolute;
	left: 15%;
	width: 28%;
}

#scoreZone {
	position: absolute;
	right: -10%;
	top: 0;
	height: 100%;
	width: 18%;
}

#p2Zone {
	margin: 20% 0 0 20%;

}

#doc {
	width: 4%;
	position: absolute;
	left: 0.5%;
	bottom: 1%;
}

#docs {
	padding-top: 5%;
	width: 80%;
	color: lightgray;
	margin: auto;
}

#p1Zone {
	margin: 30% 0 0 40%;
}

#buttonArea {
	width: 50%;
	float: right;
}

#bottomRail {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

#credits {
	font-size: 2vw;
	color: lightgray;
	width: 80%;
	position: absolute;
	left: 10%;
	bottom: 1%;
}

.creator {
	float: left;
	margin-left: 10%;
}

.art {
	float: right;
	margin-right: 10%;
}

.currentPlayer {
	transform: translate(-5%, -5%);
	box-shadow: 5px 5px black;
}

.dummyChecker {
	width: 18%;
}

.scoredChecker {
	transform: skew(-7deg);
	margin-top: -200%;
	margin-bottom: -30%;
	width: 50%;
}

.playerZone {
	width: 50%;
	height: 40%;
	float: left;
	transform: skew(7deg);
}

.die {
	width: 25%;
	float: right;
	user-select: none;
	transition: 0.1s;
}

.playerScore {
	background-color: lightgray;
	font-size: 1.5vw;
	width: 40%;
	padding: 3%;
	transition: 0.2s;
}

.topHalf {
	height: 34.5%;
}

.botHalf {
	height: 38.3%;
}

.half {
	width: 47%;
	height: 100%;
	float: left;
}

.point {
	width: 16.66666%;
	height: 100%;
	float: left;
	text-align: center;
	transition: 0.2s;
}

.checker {
	margin-bottom: -20%;
	width: 90%;
	user-select: none;
}

.activeChecker {
	position: absolute;
	width: 5%;
	max-width: 60px;
}

.highlighted {
	background: rgba(255, 199, 0, 0.3);
	border-radius: 2px;
}

.score {
	float: right;
}

.botHalf .checker {
	position: absolute;
	bottom: 0;
	margin-bottom: -12%;
}

.botHalf .point {
	text-align: left;
}

.topHalf .checker {
	margin-top: -6%;
}

#topLeft .point {
	transform: skew(-3deg);
}

#botLeft .point {
	transform: skew(-4deg);
}

#topRight .point {
	transform: skew(3deg);
}

#botRight .point {
	transform: skew(4deg);
}

#topLeft .checker {
	transform: skew(3deg);
}

#botLeft .checker {
	transform: skew(4deg);
}

#topRight .checker {
	transform: skew(-3deg);
}

#botRight .checker {
	transform: skew(-4deg);
}

@media screen and (min-width: 1200px) {
	button {
		font-size: 18.28px;
	}

	h2 {
		font-size: 47.92px;
	}

	#credits {
		font-size: 24px;
		width: 100vw;
		left: 0;
	}

	.creator {
		margin-left: 30%;
	}

	.art {
		margin-right: 30%;
	}
}